{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block auth %}
<div class="content-section login-form">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{ form | crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Login</button>
    </div>
    <small class="text-muted mt-2">
      Need an account? <a class="ml-2 " href="#">Sign up now</a>
    </small>
  </form>
</div>
{% endblock auth %}